In [5]:
import pandas as pd
import matplotlib
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import scipy.stats as stats
from sklearn import preprocessing
import numpy as np

In [6]:
personal_data = pd.read_csv("Dataset/personal_train.csv")
other_data = pd.read_csv("Dataset/other_train.csv")

In [7]:
personal_data.head()
personal_data.set_index(personal_data.columns.to_list()[0])
personal_data.rename(columns={personal_data.columns.to_list()[0]: "Id"})

,Id,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Female,18/01/1961
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",56,Male,1962-11-08
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",52,Male,1967-04-18
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",64,Male,55-09-04
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",66,Male,1952-12-05
...,...,...,...,...,...,...
3928,3928,Clair Pinkleton,"8582 Lee Roads\r\nCostaburgh, SC 21897",45,Female,1974-04-16
3929,3929,William Pope,68430 Erik Terrace Suite 279\r\nPort Adamborou...,48,Female,1971-10-18
3930,3930,Jared Kinsey,Unit 8416 Box 3801\r\nDPO AE 31166,83,Male,36-04-15
3931,3931,Frederick Lawley,"34420 Brian Stream\r\nLake Michaeltown, MS 01832",49,Female,1970-05-06
3932,3932,Adalberto Daughters,Unit 7931 Box 0601\r\nDPO AE 50505,46,Female,72-11-18

In [8]:
other_data.head()
other_data.set_index(other_data.columns.to_list()[0])
other_data.rename(columns={other_data.columns.to_list()[0]: "Id"})

,Id,name,address,kurtosis_oxygen,occupation,marital-status,pregnant,education-num,relationship,std_oxygen,...,fnlwgt,class,income,medical_info,native-country,capital-loss,mean_oxygen,hours-per-week,race,workclass
0,0,Joel Martinez,"2014 Fitzpatrick Springs\r\nJimmybury, MI 83417",9.672970,Transport-moving,Married-civ-spouse,f,NaN,Husband,14.678821,...,201410.0,0.0,>50K,"{'mean_glucose':'117.4375','std_glucose':'47.6...",Philippines,1977.0,2.445652,45.0,White,Private
1,1,Mike Delacruz,"PSC 6835, Box 2308\r\nAPO AP 84084",8.175772,Other-service,Never-married,f,9.0,Own-child,17.521978,...,85625.0,0.0,<=50K,"{'mean_glucose':'132.8984375','std_glucose':'4...",United-States,0.0,2.633779,22.0,White,Private
2,2,Tony Kell,"847 Martin Locks Apt. 982\r\nEast Lauratown, N...",4.498688,Prof-specialty,Divorced,f,11.0,Not-in-family,40.829288,...,211022.0,0.0,>50K,"{'mean_glucose':'123.546875','std_glucose':'69...",United-States,0.0,9.512542,40.0,White,Private
3,3,Clarence Archer,"6376 Christine Hollow Suite 091\r\nDunnshire, ...",0.531520,Sales,Married-civ-spouse,f,10.0,Husband,77.672185,...,291147.0,0.0,<=50K,"{'mean_glucose':'136.0625','std_glucose':'47.1...",United-States,0.0,60.436455,50.0,White,Private
4,4,Bradford Hayek,"7115 Snyder Key Apt. 041\r\nWest Tina, DE 78012",3.257489,Craft-repair,Divorced,f,9.0,Not-in-family,49.288231,...,149118.0,0.0,<=50K,"{'mean_glucose':'116.546875','std_glucose':'45...",United-States,0.0,14.475753,40.0,White,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3978,Bobby Wetzel,1653 Wilson Isle Apt. 318\r\nLake Nathancheste...,11.025123,Other_service,Never-married,f,9.0,Own-child,14.810566,...,97963.0,0.0,<=50K,"{'mean_glucose':'132.71875','std_glucose':'51....",United-States,0.0,2.297659,30.0,White,Private
3979,3979,John Kempinski,"2845 Carroll Shores\r\nEdwardburgh, HI 63247",5.377667,Prof-specialty,Married-spouse-absent,f,16.0,Not-in-family,30.155313,...,57600.0,1.0,<=50K,"{'mean_glucose':'100.6484375','std_glucose':'4...",?,0.0,6.324415,40.0,White,Private
3980,3980,John Burkman,"79921 Colleen Shoals\r\nColinburgh, TN 26421",6.386286,Adm-clerical,Never-married,f,10.0,Own-child,20.626620,...,104443.0,0.0,<=50K,"{'mean_glucose':'-10937.5','std_glucose':'49.9...",United-States,0.0,4.081104,40.0,White,Private
3981,3981,James Lear,"32853 Aaron Station\r\nJonchester, OH 56028",8.066678,Transport-moving,Married-civ-spouse,F,9.0,Husband,15.118383,...,178551.0,0.0,<=50K,"{'mean_glucose':'107.9765625','std_glucose':'4...",United-States,0.0,2.784281,40.0,White,Private
3982,3982,James Deese,"4795 Martinez Vista Apt. 520\r\nGriffithshire,...",7.847605,Other-service,Married-civ-spouse,f,NaN,Husband,15.804987,...,113870.0,0.0,<=50K,"{'mean_glucose':'115.2265625','std_glucose':'3...",?,0.0,3.100334,40.0,White,Private